<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Balloons_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {46, 143}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{46, 143}</string>
			<key>spriteSourceSize</key>
			<string>{52, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{709, 486}, {46, 143}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Balloons_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {46, 143}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{46, 143}</string>
			<key>spriteSourceSize</key>
			<string>{52, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{89, 879}, {46, 143}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Balloons_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 1}, {46, 143}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{46, 143}</string>
			<key>spriteSourceSize</key>
			<string>{52, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{335, 798}, {46, 143}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Balloons_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {46, 143}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{46, 143}</string>
			<key>spriteSourceSize</key>
			<string>{52, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{355, 514}, {46, 143}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Balloons_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 1}, {46, 143}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{46, 143}</string>
			<key>spriteSourceSize</key>
			<string>{52, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{672, 785}, {46, 143}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Balloons_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 1}, {46, 143}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{46, 143}</string>
			<key>spriteSourceSize</key>
			<string>{52, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{663, 197}, {46, 143}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Balloons_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {46, 143}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{46, 143}</string>
			<key>spriteSourceSize</key>
			<string>{52, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{625, 785}, {46, 143}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Balloons_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {46, 143}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{46, 143}</string>
			<key>spriteSourceSize</key>
			<string>{52, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{719, 630}, {46, 143}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Balloons_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {46, 143}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{46, 143}</string>
			<key>spriteSourceSize</key>
			<string>{52, 145}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{663, 342}, {46, 143}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Butterfly_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 13}, {72, 261}}</string>
			<key>spriteOffset</key>
			<string>{-1, -3}</string>
			<key>spriteSize</key>
			<string>{72, 261}</string>
			<key>spriteSourceSize</key>
			<string>{96, 281}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{91, 355}, {72, 261}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Butterfly_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 0}, {72, 259}}</string>
			<key>spriteOffset</key>
			<string>{-1, 11}</string>
			<key>spriteSize</key>
			<string>{72, 259}</string>
			<key>spriteSourceSize</key>
			<string>{96, 281}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{90, 619}, {72, 259}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Butterfly_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 17}, {72, 261}}</string>
			<key>spriteOffset</key>
			<string>{-1, -7}</string>
			<key>spriteSize</key>
			<string>{72, 261}</string>
			<key>spriteSourceSize</key>
			<string>{96, 281}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{164, 0}, {72, 261}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Butterfly_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 18}, {72, 263}}</string>
			<key>spriteOffset</key>
			<string>{-1, -9}</string>
			<key>spriteSize</key>
			<string>{72, 263}</string>
			<key>spriteSourceSize</key>
			<string>{96, 281}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{250, 263}, {72, 263}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Butterfly_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 18}, {72, 263}}</string>
			<key>spriteOffset</key>
			<string>{-1, -9}</string>
			<key>spriteSize</key>
			<string>{72, 263}</string>
			<key>spriteSourceSize</key>
			<string>{96, 281}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{236, 0}, {72, 263}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Butterfly_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 0}, {62, 259}}</string>
			<key>spriteOffset</key>
			<string>{2, 11}</string>
			<key>spriteSize</key>
			<string>{62, 259}</string>
			<key>spriteSourceSize</key>
			<string>{96, 281}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{308, 0}, {62, 259}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Butterfly_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 0}, {52, 257}}</string>
			<key>spriteOffset</key>
			<string>{-1, 12}</string>
			<key>spriteSize</key>
			<string>{52, 257}</string>
			<key>spriteSourceSize</key>
			<string>{96, 281}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{369, 0}, {52, 257}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Butterfly_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {72, 263}}</string>
			<key>spriteOffset</key>
			<string>{-12, 9}</string>
			<key>spriteSize</key>
			<string>{72, 263}</string>
			<key>spriteSourceSize</key>
			<string>{96, 281}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {72, 263}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Butterfly_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 0}, {72, 255}}</string>
			<key>spriteOffset</key>
			<string>{-1, 13}</string>
			<key>spriteSize</key>
			<string>{72, 255}</string>
			<key>spriteSourceSize</key>
			<string>{96, 281}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{372, 257}, {72, 255}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Butterfly_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 0}, {70, 255}}</string>
			<key>spriteOffset</key>
			<string>{-2, 13}</string>
			<key>spriteSize</key>
			<string>{70, 255}</string>
			<key>spriteSourceSize</key>
			<string>{96, 281}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{422, 0}, {70, 255}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clown_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 10}, {47, 80}}</string>
			<key>spriteOffset</key>
			<string>{-1, -5}</string>
			<key>spriteSize</key>
			<string>{47, 80}</string>
			<key>spriteSourceSize</key>
			<string>{49, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 433}, {47, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clown_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {47, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{47, 90}</string>
			<key>spriteSourceSize</key>
			<string>{49, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 259}, {47, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clown_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {47, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{47, 90}</string>
			<key>spriteSourceSize</key>
			<string>{49, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{306, 527}, {47, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clown_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 8}, {47, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{47, 82}</string>
			<key>spriteSourceSize</key>
			<string>{49, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 351}, {47, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clown_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 24}, {49, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -12}</string>
			<key>spriteSize</key>
			<string>{49, 66}</string>
			<key>spriteSourceSize</key>
			<string>{49, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{305, 618}, {49, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Clown_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 24}, {47, 66}}</string>
			<key>spriteOffset</key>
			<string>{-1, -12}</string>
			<key>spriteSize</key>
			<string>{47, 66}</string>
			<key>spriteSourceSize</key>
			<string>{49, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{335, 730}, {47, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Girl1_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {69, 197}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{69, 197}</string>
			<key>spriteSourceSize</key>
			<string>{73, 201}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{593, 395}, {69, 197}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Girl1_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 4}, {69, 197}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{69, 197}</string>
			<key>spriteSourceSize</key>
			<string>{73, 201}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{593, 197}, {69, 197}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Girl1_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {69, 197}}</string>
			<key>spriteOffset</key>
			<string>{-2, -2}</string>
			<key>spriteSize</key>
			<string>{69, 197}</string>
			<key>spriteSourceSize</key>
			<string>{73, 201}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{572, 0}, {69, 197}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Girl1_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 4}, {69, 197}}</string>
			<key>spriteOffset</key>
			<string>{-1, -2}</string>
			<key>spriteSize</key>
			<string>{69, 197}</string>
			<key>spriteSourceSize</key>
			<string>{73, 201}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{523, 218}, {69, 197}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Girl1_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {69, 197}}</string>
			<key>spriteOffset</key>
			<string>{2, -2}</string>
			<key>spriteSize</key>
			<string>{69, 197}</string>
			<key>spriteSourceSize</key>
			<string>{73, 201}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{94, 113}, {69, 197}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Girl1_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {69, 197}}</string>
			<key>spriteOffset</key>
			<string>{2, -2}</string>
			<key>spriteSize</key>
			<string>{69, 197}</string>
			<key>spriteSourceSize</key>
			<string>{73, 201}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 0}, {69, 197}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Girl1_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {69, 197}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{69, 197}</string>
			<key>spriteSourceSize</key>
			<string>{73, 201}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{555, 691}, {69, 197}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Girl2_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {79, 217}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{79, 217}</string>
			<key>spriteSourceSize</key>
			<string>{85, 217}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{444, 255}, {79, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Girl2_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {79, 217}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{79, 217}</string>
			<key>spriteSourceSize</key>
			<string>{85, 217}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{483, 473}, {79, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Girl2_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {79, 217}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{79, 217}</string>
			<key>spriteSourceSize</key>
			<string>{85, 217}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{403, 514}, {79, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Girl2_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {79, 217}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{79, 217}</string>
			<key>spriteSourceSize</key>
			<string>{85, 217}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{493, 0}, {79, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Girl2_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85, 217}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{85, 217}</string>
			<key>spriteSourceSize</key>
			<string>{85, 217}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{162, 699}, {85, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Girl2_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85, 217}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{85, 217}</string>
			<key>spriteSourceSize</key>
			<string>{85, 217}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{164, 263}, {85, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Girl2_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {85, 217}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{85, 217}</string>
			<key>spriteSourceSize</key>
			<string>{85, 217}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{163, 481}, {85, 217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Girl3_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {88, 192}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{88, 192}</string>
			<key>spriteSourceSize</key>
			<string>{94, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 742}, {88, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Girl3_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {90, 192}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{90, 192}</string>
			<key>spriteSourceSize</key>
			<string>{94, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 355}, {90, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Girl3_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {88, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{88, 192}</string>
			<key>spriteSourceSize</key>
			<string>{94, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 549}, {88, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Girl3_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {86, 192}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{86, 192}</string>
			<key>spriteSourceSize</key>
			<string>{94, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{248, 705}, {86, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Girl3_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 0}, {82, 192}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{82, 192}</string>
			<key>spriteSourceSize</key>
			<string>{94, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{625, 591}, {82, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Girl3_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 0}, {84, 192}}</string>
			<key>spriteOffset</key>
			<string>{4, -0}</string>
			<key>spriteSize</key>
			<string>{84, 192}</string>
			<key>spriteSourceSize</key>
			<string>{94, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{469, 771}, {84, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Girl3_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 0}, {84, 192}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{84, 192}</string>
			<key>spriteSourceSize</key>
			<string>{94, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{384, 732}, {84, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Guitar_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {57, 43}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{57, 43}</string>
			<key>spriteSourceSize</key>
			<string>{57, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{249, 571}, {57, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Guitar_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {55, 43}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{55, 43}</string>
			<key>spriteSourceSize</key>
			<string>{57, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{335, 686}, {55, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Guitar_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {55, 43}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{55, 43}</string>
			<key>spriteSourceSize</key>
			<string>{57, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{249, 660}, {55, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Guitar_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {55, 43}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{55, 43}</string>
			<key>spriteSourceSize</key>
			<string>{57, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{249, 616}, {55, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Guitar_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {57, 43}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{57, 43}</string>
			<key>spriteSourceSize</key>
			<string>{57, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{249, 527}, {57, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Guitar_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {57, 43}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{57, 43}</string>
			<key>spriteSourceSize</key>
			<string>{57, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{94, 310}, {57, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Sax_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 0}, {90, 112}}</string>
			<key>spriteOffset</key>
			<string>{11, -0}</string>
			<key>spriteSize</key>
			<string>{90, 112}</string>
			<key>spriteSourceSize</key>
			<string>{118, 112}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{74, 0}, {90, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Sax_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 20}, {94, 92}}</string>
			<key>spriteOffset</key>
			<string>{12, -10}</string>
			<key>spriteSize</key>
			<string>{94, 92}</string>
			<key>spriteSourceSize</key>
			<string>{118, 112}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 263}, {94, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Sax_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 28}, {78, 84}}</string>
			<key>spriteOffset</key>
			<string>{-1, -14}</string>
			<key>spriteSize</key>
			<string>{78, 84}</string>
			<key>spriteSourceSize</key>
			<string>{118, 112}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 936}, {78, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Sax_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 32}, {72, 80}}</string>
			<key>spriteOffset</key>
			<string>{-23, -16}</string>
			<key>spriteSize</key>
			<string>{72, 80}</string>
			<key>spriteSourceSize</key>
			<string>{118, 112}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{483, 691}, {72, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>triggerTextures</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>triggerTextures</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>triggerTextures</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>