<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Bee_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {111, 346}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{111, 346}</string>
			<key>spriteSourceSize</key>
			<string>{125, 346}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{930, 347}, {111, 346}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Bee_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {113, 346}}</string>
			<key>spriteOffset</key>
			<string>{-4, -0}</string>
			<key>spriteSize</key>
			<string>{113, 346}</string>
			<key>spriteSourceSize</key>
			<string>{125, 346}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{892, 695}, {113, 346}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Bee_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {111, 346}}</string>
			<key>spriteOffset</key>
			<string>{-4, -0}</string>
			<key>spriteSize</key>
			<string>{111, 346}</string>
			<key>spriteSourceSize</key>
			<string>{125, 346}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1158, 0}, {111, 346}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Bee_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {115, 346}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{115, 346}</string>
			<key>spriteSourceSize</key>
			<string>{125, 346}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{815, 0}, {115, 346}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Bee_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 0}, {113, 346}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{113, 346}</string>
			<key>spriteSourceSize</key>
			<string>{125, 346}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{815, 347}, {113, 346}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Bee_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 0}, {113, 346}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{113, 346}</string>
			<key>spriteSourceSize</key>
			<string>{125, 346}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1007, 695}, {113, 346}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Bee_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {115, 346}}</string>
			<key>spriteOffset</key>
			<string>{5, -0}</string>
			<key>spriteSize</key>
			<string>{115, 346}</string>
			<key>spriteSourceSize</key>
			<string>{125, 346}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{930, 0}, {115, 346}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Bee_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {111, 346}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{111, 346}</string>
			<key>spriteSourceSize</key>
			<string>{125, 346}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1045, 0}, {111, 346}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Bee_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 0}, {115, 346}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{115, 346}</string>
			<key>spriteSourceSize</key>
			<string>{125, 346}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{498, 1017}, {115, 346}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Bee_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {111, 346}}</string>
			<key>spriteOffset</key>
			<string>{-4, -0}</string>
			<key>spriteSize</key>
			<string>{111, 346}</string>
			<key>spriteSourceSize</key>
			<string>{125, 346}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1043, 347}, {111, 346}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Bee_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {113, 346}}</string>
			<key>spriteOffset</key>
			<string>{-5, -0}</string>
			<key>spriteSize</key>
			<string>{113, 346}</string>
			<key>spriteSourceSize</key>
			<string>{125, 346}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{777, 749}, {113, 346}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Bee_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {111, 346}}</string>
			<key>spriteOffset</key>
			<string>{-7, -0}</string>
			<key>spriteSize</key>
			<string>{111, 346}</string>
			<key>spriteSourceSize</key>
			<string>{125, 346}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1120, 695}, {111, 346}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Cheerleader1_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {196, 208}}</string>
			<key>spriteOffset</key>
			<string>{-4, 122}</string>
			<key>spriteSize</key>
			<string>{196, 208}</string>
			<key>spriteSourceSize</key>
			<string>{224, 452}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 609}, {196, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Cheerleader1_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 2}, {196, 184}}</string>
			<key>spriteOffset</key>
			<string>{-4, 132}</string>
			<key>spriteSize</key>
			<string>{196, 184}</string>
			<key>spriteSourceSize</key>
			<string>{224, 452}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 818}, {196, 184}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Cheerleader1_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 17}, {190, 246}}</string>
			<key>spriteOffset</key>
			<string>{-2, 86}</string>
			<key>spriteSize</key>
			<string>{190, 246}</string>
			<key>spriteSourceSize</key>
			<string>{224, 452}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1003}, {190, 246}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Cheerleader1_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 259}, {160, 190}}</string>
			<key>spriteOffset</key>
			<string>{-4, -128}</string>
			<key>spriteSize</key>
			<string>{160, 190}</string>
			<key>spriteSourceSize</key>
			<string>{224, 452}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1250}, {160, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Cheerleader1_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 253}, {198, 196}}</string>
			<key>spriteOffset</key>
			<string>{0, -125}</string>
			<key>spriteSize</key>
			<string>{198, 196}</string>
			<key>spriteSourceSize</key>
			<string>{224, 452}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 412}, {198, 196}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Cheerleader1_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 229}, {220, 220}}</string>
			<key>spriteOffset</key>
			<string>{-2, -113}</string>
			<key>spriteSize</key>
			<string>{220, 220}</string>
			<key>spriteSourceSize</key>
			<string>{224, 452}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{426, 795}, {220, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Sun_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{74, 0}, {129, 357}}</string>
			<key>spriteOffset</key>
			<string>{7, 27}</string>
			<key>spriteSize</key>
			<string>{129, 357}</string>
			<key>spriteSourceSize</key>
			<string>{263, 411}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{647, 749}, {129, 357}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Sun_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{63, 0}, {137, 363}}</string>
			<key>spriteOffset</key>
			<string>{0, 24}</string>
			<key>spriteSize</key>
			<string>{137, 363}</string>
			<key>spriteSourceSize</key>
			<string>{263, 411}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{677, 0}, {137, 363}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Sun_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 0}, {227, 405}}</string>
			<key>spriteOffset</key>
			<string>{10, 3}</string>
			<key>spriteSize</key>
			<string>{227, 405}</string>
			<key>spriteSourceSize</key>
			<string>{263, 411}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{198, 412}, {227, 405}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Sun_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 0}, {251, 411}}</string>
			<key>spriteOffset</key>
			<string>{6, -0}</string>
			<key>spriteSize</key>
			<string>{251, 411}</string>
			<key>spriteSourceSize</key>
			<string>{263, 411}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {251, 411}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Sun_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{52, 0}, {181, 383}}</string>
			<key>spriteOffset</key>
			<string>{11, 14}</string>
			<key>spriteSize</key>
			<string>{181, 383}</string>
			<key>spriteSourceSize</key>
			<string>{263, 411}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{496, 0}, {181, 383}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Sun_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{55, 0}, {153, 365}}</string>
			<key>spriteOffset</key>
			<string>{0, 23}</string>
			<key>spriteSize</key>
			<string>{153, 365}</string>
			<key>spriteSourceSize</key>
			<string>{263, 411}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{636, 384}, {153, 365}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Sun_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{65, 0}, {129, 357}}</string>
			<key>spriteOffset</key>
			<string>{-2, 27}</string>
			<key>spriteSize</key>
			<string>{129, 357}</string>
			<key>spriteSourceSize</key>
			<string>{263, 411}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{368, 1017}, {129, 357}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Sun_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {243, 401}}</string>
			<key>spriteOffset</key>
			<string>{-10, 5}</string>
			<key>spriteSize</key>
			<string>{243, 401}</string>
			<key>spriteSourceSize</key>
			<string>{263, 411}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{252, 0}, {243, 401}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Sun_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 0}, {209, 393}}</string>
			<key>spriteOffset</key>
			<string>{2, 9}</string>
			<key>spriteSize</key>
			<string>{209, 393}</string>
			<key>spriteSourceSize</key>
			<string>{263, 411}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{426, 402}, {209, 393}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Sun_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{42, 0}, {177, 379}}</string>
			<key>spriteOffset</key>
			<string>{-1, 16}</string>
			<key>spriteSize</key>
			<string>{177, 379}</string>
			<key>spriteSourceSize</key>
			<string>{263, 411}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{190, 1003}, {177, 379}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>triggerTextures2-ipad</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>triggerTextures2-ipad</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>triggerTextures2-ipad</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>