<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClownAnim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>Clown_</string>
		<key>delay</key>
		<real>0.1</real>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6</string>
	</dict>
	<key>PlaneAnim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>Plane_</string>
		<key>delay</key>
		<real>0.1</real>
		<key>animationFrames</key>
		<string>1,2,3,4</string>
	</dict>
	<key>BeeAnim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>Bee_</string>
		<key>delay</key>
		<real>0.1</real>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6,7,8,9,10,11,12</string>
	</dict>
	<key>ButterflyAnim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>Butterfly_</string>
		<key>delay</key>
		<real>0.1</real>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6,7,8,9,10</string>
	</dict>
	<key>GuitarAnim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>Guitar_</string>
		<key>delay</key>
		<real>0.1</real>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6</string>
	</dict>
	<key>BalloonAnim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>Balloons_</string>
		<key>delay</key>
		<real>0.1</real>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6,7,8,9</string>
	</dict>
	<key>Girl1Anim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>Girl1_</string>
		<key>delay</key>
		<real>0.2</real>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6,7</string>
	</dict>
	<key>Girl2Anim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>Girl2_</string>
		<key>delay</key>
		<real>0.2</real>
		<key>animationFrames</key>
		<string>7,6,5,4,3,2,1</string>
	</dict>
	<key>Girl3Anim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>Girl3_</string>
		<key>delay</key>
		<real>0.2</real>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6,7</string>
	</dict>
	<key>SaxAnim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>Sax_</string>
		<key>delay</key>
		<real>0.1</real>
		<key>animationFrames</key>
		<string>4,3,2,1</string>
	</dict>
	<key>SunAnim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>Sun_</string>
		<key>delay</key>
		<real>0.1</real>
		<key>animationFrames</key>
		<string>10,9,8,7,6,5,4,3,2,1</string>
	</dict>
	<key>Cheerleader1Anim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>Cheerleader1_</string>
		<key>delay</key>
		<real>0.1</real>
		<key>animationFrames</key>
		<string>6,5,4,3,2,1</string>
	</dict>
	<key>Cheerleader2Anim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>Cheerleader2_</string>
		<key>delay</key>
		<real>0.1</real>
		<key>animationFrames</key>
		<string>6,5,4,3,2,1</string>
	</dict>
</dict>
</plist>
